.notes_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  gap:0.5rem;   
  margin-top: 5%;
}

.pinned{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  gap:0.5rem;   
  margin-top: 5%;
}