.single_note {
  border: 1px solid #e8eaed;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 12rem;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
}
.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;;
}
.single-note-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.bin-icon:hover {
  cursor: pointer;
}
.bin-icon-container {
  margin-top: 3%;
  display: flex;
}

.title-note {
  margin: 0;
  width: 90%;
}

.single_note p {
  margin: 0.5rem 0 0;
  font-weight: 100;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
